h1 {
  color: Red;
}
body {
  background-color: White;
}
img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: block;
  border-color: Black;
  
}

#content {
  height: 1500px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  position: fixed;
}
