h1 {
  color: Red;
  text-align: center;
}
body {
  background-color: White;
}
img {
  width: 70%;
  display: block;
  float: fixed;
  margin-left: auto;
  margin-right: auto;
  
  border-style: block;
  border-color: Black;
  
  
}

#content {
  height: 1500px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  position: fixed;
}

#footer {
  position: fixed;
}
