h1 {
  color: Red;
  display: block;
  
  
}
body {
  background-color: Blue;
}
img {
  width: 25%;
  border-style: Solid;
  border-color: Black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
